body {
  background: #fe6860;
}

.traffic-lights {
  padding: 10px 50px;
  background: #222;
  border-radius: 35px;
  border: 15px solid #111;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -50%) scale(0.8);
  z-index: 100;
}

.traffic-lights .light {
  border-top: 0.8em solid black;
  border-radius: 50%;
  background: rgb(2, 26, 26);
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.traffic-lights .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 30px 0px 0px 30px;
}

.traffic-lights .red {
  background: #c0392b;
}

.traffic-lights .amber {
  background: #fbc00c;
}

.traffic-lights .green {
  background: #1abc9c;
}


.traffic-lights::before {
  content: '';
  width: 5em;
  height: 3em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  z-index: 0;
}
.traffic-lights::after {
  content: '';
  width: 150px;
  height: 20px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  z-index: 0;
}
